@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

.trans {
  transition: 0.25s;
}

.transit {
  transition: 0.25s;
}

a.active {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f6f7fa;
  color: rgb(95, 79, 79);
}
a.active .icons {
  border-radius: 7px;
}

a.active #label {
  color: #176b87;
}
a.active {
  position: relative;
}

a.active .icon {
  color: #176b87;
}

.birth::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -12px;
  left: -10px;
  background-color: rgb(49, 45, 45);
}
.births::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -15px;
  left: -10px;
  background-color: rgb(49, 45, 45);
}
.anniversary::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -15px;
  right: 12px;
  background-color: rgb(49, 45, 45);
}
.anniversarys::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -12px;
  right: 12px;
  background-color: rgb(49, 45, 45);
}

.open-grid {
  display: grid;
  grid-template-columns: 65.8% minmax(30%, 33%);
  gap: 30px;
}

.close-grid {
  display: grid;
  grid-template-columns: 65.8% 1fr;
  gap: 33.03px;
}

.open-container {
  display: grid;
  grid-template-columns: minmax(29%, 31.5%) minmax(29%, 31.5%) 1fr;
  gap: 21px;
}

.close-container {
  display: grid;
  grid-template-columns: minmax(29%, 31.5%) minmax(29%, 31.5%) 1fr;
  gap: 23.12px;
}

@media only screen and (max-width: 1195px) {
  .top-box-wrap {
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    height: 100%;
  }

  .update-container {
    text-wrap: wrap;
  }

  .open-grid,
  .close-grid {
    grid-template-columns: 100%;
    height: 100%;
  }

  .employee-container {
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 25px;
  }

  .overview-container {
    padding: 0;
  }

  .open-container,
  .close-container {
    grid-template-columns: 100%;
    height: 100%;
  }

  .top-bar-search {
    width: 80%;
  }
}
