@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

.trans {
  transition: 0.250s;
}

.transit {
  transition: 0.250s;
}

a.active {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f6f7fa;
  color: rgb(95, 79, 79);
}
a.active .icons {
  border-radius: 7px;
}

a.active #label {
  color: #176b87;
}
a.active {
  position: relative;
}

a.active .icon {
  color: #176b87;
}

.birth::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: 0;
  left: 60px;
  background-color: rgb(49, 45, 45);
}

.open-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
/* .open-grid{
  display: grid;
  grid-template-columns: 739px 358px;
  gap: 30px;
} */

.close-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 33.03px;
}
/* .close-grid{
  display: grid;
  grid-template-columns: 813.69px 394.18px;
  gap: 33.03px;
} */

@media only screen and (max-width: 1102px) {
  body {
    background-color: #f6f7fa;
  }
}
