@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

.trans {
  transition: 0.25s;
}

.transit {
  transition: 0.25s;
}

a.active {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f6f7fa;
  color: rgb(95, 79, 79);
}
a.active .icons {
  border-radius: 7px;
}

a.active #label {
  color: #176b87;
}
a.active {
  position: relative;
}

a.active .icon {
  color: #176b87;
}

.birth::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -12px;
  left: -10px;
  background-color: #176B87;
}
.births::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -15px;
  left: -10px;
  background-color: #176B87;
}
.anniversary::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -15px;
  right: 12px;
  background-color: #176B87;
}
.anniversarys::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  bottom: -12px;
  right: 12px;
  background-color: #176B87;
}

.open-grid {
  display: grid;
  grid-template-columns: 65.8% minmax(30%, 33%);
  gap: 30px;
}

.close-grid {
  display: grid;
  grid-template-columns: 65.8% 1fr;
  gap: 33.03px;
}

.open-container {
  display: grid;
  grid-template-columns: minmax(29%, 31.5%) minmax(29%, 31.5%) 1fr;
  gap: 21px;
}

.close-container {
  display: grid;
  grid-template-columns: minmax(29%, 31.5%) minmax(29%, 31.5%) 1fr;
  gap: 23.12px;
}

.link{
  text-decoration: underline;
  text-decoration-color: #176B87;
}

.loader {
  width: 65px;
  aspect-ratio: 1;
  --g: radial-gradient(
      farthest-side,
      #0000 calc(95% - 3px),
      #4400ff calc(100% - 3px) 98%,
      #0000 101%
    )
    no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 30px 30px;
  animation: l10 1.5s infinite;
  border-color: black;
}
@keyframes l10 {
  0% {
    background-position: 0 0, 0 100%, 100% 100%;
  }
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}

table{
  width: 100%;
  border-radius: 20px;
}

th{
  text-align: left;
  font-weight: 500;
  font-size: 16.29px;
  color: #41454B;
}



.th-bb {
  border-bottom: 1px solid #F3F3F3;
}

tbody{
  width: 100%;
  background-color: white;
}

td{
  height: 70px;
}

th:first-child{
  padding-left: 30px;
  border-top-left-radius: 10px;
}
th:last-child{
  opacity: 0;
  border-top-right-radius: 10px;
}

thead{
  border-radius: 20px;
}





@media only screen and (max-width: 1195px) {
  .top-box-wrap {
    flex-wrap: wrap-reverse;
    height: 100%;
  }

  .update-container {
    text-wrap: wrap;
  }

  .open-grid,
  .close-grid {
    grid-template-columns: 100%;
    height: 100%;
  }

  .employee-container {
    flex-wrap: wrap;
    padding-left: 25px;
  }

  .overview-container {
    padding: 0;
  }

  .open-container,
  .close-container {
    grid-template-columns: 100%;
    height: 100%;
  }

  .top-bar-search {
    width: 80%;
  }
}








/* @media only screen and (max-width:767px) {
  .hide-nav{
    position: absolute;
    z-index: 1;
    transform: translateX(-120%);
  }

  .hide-nav#side-bar{
    transform: translateX(0);
  }

  .top-bar-search {
    width: 95%;
    padding-left: 10px;
  }

  .toggle-width-icons{
    display: none;
  }

  .menu-icon{
    display: block;
  }
  
  
}*/
